/*!
 * Vishnu Chelle's website Theme (http://vishnuchelle.github.io)
 *
 * Author: Vishnu Chelle
 */


body {
    background: url('../Images/stressed_line.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    color: #ffffff;
}

hr {
    max-width: 500px;
    border-color: #999999;
}


.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.brand,
.address-bar {
    display: none;
}

.box {
    margin-bottom: 10px;
    padding: 15px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.box_text {
    margin-bottom: 20px;
    padding: 5px 15px;
    //background: #fff;
    color: #ffffff;
    //background: rgba(255,255,255,0.9);
}

.intro-text {
    //text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    color: #080808;
    font-size: 1em;
    text-align: center;
    padding: 0 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 10px 0 5px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 4em;
        font-weight: 400;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        //text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 200;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 15px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }

}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}